@font-face {
    font-family: 'msi';
    src: url('../fonts/Vazir.eot') format('eot');
    src : url('../fonts/Vazir.ttf') format('truetype'),
    url('../fonts/Vazir.woff') format('woff');
}

*{
    font-family: 'msi' !important;
}

body{
    direction: rtl;
    text-align: right;
    font-family: 'msi' !important;
    padding: 0;
    margin: 0;
}